* {
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    background-color: rgb(18, 41, 168);
}

#root {
    text-align: center;
    margin-top: 100px;
}

#db {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

#res {
    font-size: 24px;
}

input {
    width: 20%;
    border: none;
    background-color: #fff;
    height: 40px;
    color: #333;
    border-radius: 10px;
}

button {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    border: none;
    height: 30px;
    margin-left: 10px;
}

button:hover {
    background-color: aqua;
    /* color: #fff; */
    transition: all 0.5s ease-out;
}
